@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('assets/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* navbar styles */

.transition-height {
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu {
    height: 0;
}

.dropdown_menu.open {
    height: 240px;
}

/* RESPONSIVE DESIGN */

@media (max-width:992px){
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}
